<!DOCTYPE html>
<html>
  <head>
    <title>CatHotwire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="vh-100">
      <div class="container-fluid">
        <div class="row">

          <div class="ps-0" style="width: 200px;"></div>
          <div class="ps-0 position-fixed" style="width: 200px;">
            <%= render "sidebar" %>
          </div>

          <div class="col my-4">
            <%= render "flash" %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
